.modal {
  position: fixed;
  padding: 9px 10px;
  background-color: #282e33;
  border: 1px solid rgba(255, 255, 255, 0.212);
  height: 90%;
  border-radius: 8px;
  top: 60px;
  left: 875px;
  box-shadow: var(
    --ds-shadow-overlay,
    0px 8px 12px #091e4226,
    0px 0px 1px #091e424f
  );
  font-size: 12px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 5;

  .title_close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-left: 20px;
      color: #9fadbc;
      font-size: 14px;
      font-weight: 600;
    }
    i {
      padding: 6px 7px;
      border-radius: 8px;
      cursor: pointer;
    }
    i:hover {
      background-color: rgba(84, 90, 95, 0.651);
    }
  }

  .bg {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      margin-top: 10px;

      button {
        padding: 7px 12px;
        font-size: 13px;
        font-weight: 500;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: #b6c2cf;
        background-color: #a1bdd914;
      }
      button:hover {
        background-color: #424b52;
      }
    }

    p {
      margin: 8px 0;
      font-weight: 700;
    }

    .bg_wrapper {
      display: flex;
      justify-content: space-between;
      .grid_img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5px;
        column-gap: 8px;

        img {
          gap: 24px;
          border-radius: 5px;
          width: 85px;
          cursor: pointer;
          height: 65px;
          object-fit: cover;
        }
        img:hover {
          filter: contrast(70%);
        }
      }
    }
    .bg_color {
      .color {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 7px;
        row-gap: 9px;
        column-gap: 8px;

        div {
          padding: 5px;
          object-fit: cover;
          border-radius: 5px;
          cursor: pointer;
          width: 85px;
          height: 65px;
          background-color: red;
        }
        div:hover {
          filter: brightness(80%);
        }
      }
    }
  }
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1bdd914;
  border-radius: 5px;
}
