.content {
  margin: 55px 0;
  justify-content: center;
  display: flex;
  gap: 50px;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .btn {
      padding: 8px 15px;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      width: 270px;
    }
    .btn:hover {
      background-color: #a1bdd914;
    }
    .btn_active {
      color: #579dff;
      background-color: #092957;
    }

    .task_template {
      flex-direction: column;
      .task_template_add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        padding: 8px 0px 8px 8px;

        i {
          padding: 5px;
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          cursor: pointer;
        }
        i:hover {
          background-color: #a1bdd914;
        }
      }
      .template {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 15px;
        border-radius: 8px;
        transition: all .2s;
        cursor: pointer;

        .letter_wrapp {
          display: flex;
          align-items: center;
          gap: 10px;

          .letter {
            padding: 5px 9px;
            background: rgb(87, 157, 255);
            background: linear-gradient(
              150deg,
              rgba(87, 157, 255, 1) 0%,
              rgba(150, 237, 255, 1) 100%
            );
            color: #1d2125;
            font-weight: bold;
            font-size: 14px;
            border-radius: 4px;
          }
          p {
            font-weight: 500;
            font-size: 14px;
            width: 50%;
          }
        }
        i{
          font-size: 14px;
          padding: 5px;
        }
      }
      .template:hover{
        background-color: #a1bdd914;
      }
    }
  }

  .wrapper_tasks{
    display: flex;
    gap: 60px;
    // width: 60%;
  }
}
