* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  background-color: #1d2125;
  color: #b6c2cf;
  overflow-y: hidden;
}
.container {
  width: 99%;
  margin: 0px auto;
}
.container_content{
  width: 90%;
  margin: 0 auto;
}